.input {
	padding: 12px 15px;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: var(--dark-shade-25);
	border: 1px solid var(--dark-shade-25);
	border-radius: 4px;

	&:hover,
	&:focus {
		border: 1px solid var(--dark-shade-50);
		color: var(--dark-shade-75);
	}

	&:focus {
		outline: none;
	}
}
