:root {
	--dark-shade-100: #1f2041;
	--dark-shade-75: rgba(31, 32, 65, 0.75);
	--dark-shade-50: rgba(31, 32, 65, 0.5);
	--dark-shade-25: rgba(31, 32, 65, 0.25);
	--dark-shade-10: rgba(31, 32, 65, 0.1);
	--dark-shade-5: rgba(31, 32, 65, 0.05);
	--dark-shadow-1: rgba(31, 32, 65, 0.1);
	--purple: #bc9cff;
	--green: #6fcf97;

	/* date picker colors */
	--color-text: #434141;
	--color-placeholder: rgba(0, 0, 0, 0.5);
	--color-additional: #93b1ff;
	--color-additional7: rgba(147, 177, 255, 0.7);
	--background-color-calendar: #fff;
	--background-color-calendar-header: #ffffff;

	/* images */
	--images-arrow: url('/arrow_forward.svg');
}
