{
	"trailingComma": "none",
	"tabWidth": 2,
	"printWidth": 120,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"arrowParens": "avoid",
	"quoteProps": "consistent",
	"bracketSameLine": false,
	"bracketSpacing": true,
	"singleAttributePerLine": true
}
