@import '/app/styles/index.scss';

.room {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  width: 100%;
  box-shadow: $dark-shadow-1 0px 7px 29px 0px;
  border-radius: 4px;

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: #ffffff;
  }

  &__info-bar {
    display: flex;
    align-items: flex-end;
    padding-bottom: 12px;
    border-bottom: 1px solid $dark-shade-10;
  }

  &__price,
  &__count-review {
    font-size: 12px;
    margin-left: auto;
  }

  &__type {
    color: $purple;
    text-transform: uppercase;
    padding-left: 8px;
    font-size: 12px;
    font-weight: bold;
  }

  &__important-text {
    font-weight: bold;
    color: $dark-shade-50;
    font-size: 14px;
  }

  &__review {
    display: flex;
    align-items: center;
  }

  &-slider {
    width: 100%;
  }

  &__button {
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    background-image: url('../../../public/accordion-white.svg');
    background-repeat: no-repeat;
    background-position: center;
    fill: #ffffff !important;

    &_prev {
      transform: translateY(-50%) rotate(90deg);
      fill: #ffffff !important;
      left: 0;
    }
    &_next {
      fill: #ffffff !important;
      right: 0;
      transform: translateY(-50%) rotate(-90deg);
    }
  }

  .swiper-pagination {
    display: flex;
    justify-content: flex-end;
    padding: 0 15px 15px 0;

    &-bullet {
      border-radius: 50%;
      border: 1px solid #ffffff;
      background-color: transparent;
      transform: scale(1) !important;
      opacity: 1;

      &-active {
        background-color: #ffffff;
      }
    }
  }
}
