@import '/app/styles/index.scss';

.select {
  position: relative;
  z-index: 2;
  // border-radius: 4px;
  // border: 1px solid $dark-shade-25;
  clip-path: inset(0 0 -500px 0);
  background-color: #fff;

  &__container {
    display: flex;
    align-items: center;
    max-width: 320px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    width: 100%;
    background-color: #fff;
    padding: 12px 15px;
    box-sizing: border-box;

    &_open {
      border-radius: 4px 4px 0 0;
    }
  }

  &__img {
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__text {
    color: $dark-shade-75;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
  }

  &__content {
    position: relative;
    padding: 11px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border: 1px solid $dark-shade-25;
    border-top: 0;
    border-radius: 0 0 4px 4px;
  }

  &__list {
    border: 1px solid transparent;
    border-top: 0;
    position: absolute;
    z-index: -100;
    left: -1px;
    top: 100%;
    background-color: #fff;
    width: calc(100% + 2px);
  }

  &__buttons {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    background-color: transparent;
    border: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    cursor: pointer;
  }

  // &__animate {
  //   // CSSTransition start
  //   &-enter {
  //     will-change: overflow max-height;
  //     overflow: hidden;
  //     max-height: 0;
  //   }

  //   // CSSTransition active animate
  //   &-enter-active {
  //     will-change: overflow max-height;
  //     max-height: 1000px;
  //     transition: max-height 0.6s ease-in-out;
  //   }

  //   // CSSTransition start to exit animate
  //   &-exit {
  //     will-change: max-height;
  //     max-height: 1000px;
  //   }

  //   // CSSTransition exit animate
  //   &-exit-active {
  //     will-change: overflow max-height;
  //     overflow: hidden;
  //     max-height: 0;
  //     transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
  //   }
  // }

  &__animate {
    // CSSTransition start
    &-enter {
      will-change: transform;
      transform: translateY(-100%);
    }

    // CSSTransition active animate
    &-enter-active {
      will-change: transform;
      transform: translateY(0);
      transition: all 0.4s ease-out;
    }

    &-exit {
      will-change: transform;
      transform: translateY(0);
    }

    // CSSTransition exit animate
    &-exit-active {
      will-change: transform;
      transform: translateY(-100%); // Change this to 0 if needed
      transition: transform 0.4s cubic-bezier(0, 1, 0, 1);
    }
  }
}
