@import '/utils/variables.scss';

.date-picker {
  display: flex;
  align-items: center;
  width: 150px;
  padding: 12px 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;

  &__format-date {
    display: flex;
    max-width: 88px;
    width: 100%;
    align-items: center;
  }

  &__dot {
    transform: translateY(1.5px);
    color: $dark-shade-50;
    max-width: 3px;
    width: 100%;
  }

  &__input-date {
    font-size: 14px;
    min-width: 24px;
    color: $dark-shade-75;
    border: 0;
    width: 100%;
    text-align: center;

    &:focus {
      outline: none;
    }

    &_day {
      text-align: end;
      transform: translateX(-2px);
    }

    &_month {
      width: 100%;
    }

    &_full {
      text-align: left;
      transform: translateX(2px);
      min-width: 35px;
    }
  }

  &__image {
    margin-left: auto;
  }

  &__input {
    display: none !important;
  }
}
