@import '/utils/variables.scss';

.checkbox-list {
  display: flex;
  position: relative;
  align-items: center;
  max-width: 320px;
  width: 100%;
  box-sizing: border-box;

  &__img {
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: rotate(0deg);

    &_active {
      transform: rotate(-180deg);
    }
  }

  &__text {
    color: $dark-shade-75;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-transform: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
  }

  &__list {
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    z-index: 1;
    left: -1px;
    top: 100%;
    background-color: #ffffff;
    width: calc(100% + 2px);
  }

  &__buttons {
    margin-top: 13px;
    display: flex;
    justify-content: space-between;
  }

  &__button {
    background-color: transparent;
    border: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #bc9cff;
    cursor: pointer;
  }

  &__animate {
    // CSSTransition start
    &-enter {
      overflow: hidden;
      max-height: 0;
    }

    // CSSTransition active animate
    &-enter-active {
      max-height: 1000px;
      transition: max-height 0.6s ease-in-out;
    }

    // CSSTransition start to exit animate
    &-exit {
      max-height: 1000px;
    }

    // CSSTransition exit animate
    &-exit-active {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.4s cubic-bezier(0, 1, 0, 1);
    }
  }
}
