* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-style: normal;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}
