.widgets {
	box-shadow: 0 1px 0 var(--dark-shadow-1);
	padding: 100px 0;

	&__container {
		max-width: 1160px;
		margin: 0 auto;
		display: grid;
		align-items: flex-start;
		gap: 40px;
		grid-template-columns: repeat(5, 1fr);
	}

	&__title {
		font-size: 14px;
		line-height: 24px;
		color: var(--dark-shade-50);
		user-select: none;
	}

	&__text {
		font-size: 14px;
		line-height: 17px;
		color: var(--dark-shade-50);
		cursor: pointer;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: 100%;
	}

	&__columns {
		padding-top: 8px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: 100%;
		justify-content: flex-start;

		& li {
			list-style-type: none;
		}
	}
}
