.landing {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;

  &__text {
    font-size: 14px;
    line-height: 24px;
    text-align: right;
    max-width: 297px;
    position: absolute;
    bottom: 18px;
    right: 134px;
    z-index: 2;
  }
}
