@import '/utils/variables.scss';

.btn-radio {
  cursor: pointer;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
  user-select: none;
  &:not(:first-child) {
    margin-left: 20px;
  }
  @media screen and (max-width: 480px) {
    display: block;
    float: none;
    &:not(:first-child) {
      margin-left: 0;
      margin-top: 15px;
    }
  }
  svg {
    margin-right: 10px;
    fill: none;
    vertical-align: middle;
    circle {
      stroke-width: 2;
      stroke: #bc9cff; // обводка
    }
    path {
      stroke: #bc9cff;
      &.inner {
        stroke-width: 6;
        stroke-dasharray: 19;
        stroke-dashoffset: 19;
      }
      &.outer {
        stroke-width: 2;
        stroke-dasharray: 57;
        stroke-dashoffset: 57;
      }
    }
  }
  input {
    display: none;
    &:checked + svg {
      path {
        transition: all 0.4s ease;
        &.inner {
          stroke-dashoffset: 38;
          transition-delay: 0.3s;
        }
        &.outer {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  span {
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $dark-shade-75;
  }
}
