@import '/app/styles/index.scss';

.date-picker {
  display: flex;
  align-items: center;
  width: 150px;
  padding: 12px 15px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  position: relative;

  &_full {
    width: 100%;
  }

  &__animate {
    &-enter {
      overflow: hidden;
      opacity: 0;
      transform: scale(0); /* Изначально устанавливаем масштаб на 0 */
      transition: all 0.4s ease-in;
    }

    // CSSTransition active animate
    &-enter-active {
      transition: all 0.4s ease-in;
      opacity: 1;
      transform: scale(1); /* Постепенно увеличиваем масштаб до 1 */
    }

    // CSSTransition start to exit animate
    &-exit {
      overflow: hidden;
      opacity: 1;
      transform: scale(1); /* Изначально устанавливаем масштаб на 1 */
      transition: all 0.4s ease-in;
    }

    // CSSTransition exit animate
    &-exit-active {
      overflow: hidden;
      transition: all 0.4s cubic-bezier(0, 1, 0, 1);
      opacity: 0;
      transform: scale(0); /* Постепенно уменьшаем масштаб до 0 */
    }
  }

  &__format-date {
    display: flex;
    max-width: 88px;
    width: 100%;
    align-items: center;
  }

  &__dot {
    transform: translateY(1.5px);
    color: $dark-shade-50;
    max-width: 3px;
    width: 100%;
  }

  &__input-date {
    font-size: 14px;
    // min-width: 24px;
    color: $dark-shade-75;
    border: 0;
    width: 100%;
    text-align: center;

    &_item-default {
      min-width: 18px !important;
      width: 18px !important;
      text-align: center;
    }

    &:focus {
      outline: none;
    }

    &_day {
      text-align: end;
      transform: translateX(-2px);
    }

    &_month {
      min-width: 26px;
      width: 100%;
    }

    &_full {
      text-align: left;
      transform: translateX(2px);
      min-width: 35px;
    }
  }

  &__image {
    margin-left: auto;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &_rotate {
      transform: rotate(-180deg);
    }
  }

  &__input {
    display: none !important;
  }
}
